.lightbox .element {
    &_image {
        margin: 0;
        overflow: hidden;
        border-radius: 2px;

        figcaption {
            display: block;
            text-align: center;
            font-size: 0.9em;
            line-height: 1.5em;
            margin-bottom: 0.75em;
            color: #fff;
        }

        img {
            margin: 0;
            display: block;
            max-width: calc(100vw - 64px * 2 - 17px);
            max-height: calc(100vh - 64px * 2);
            object-fit: cover;
            object-position: center;
        }

        &.active {
            display: block;
        }
    }
}
