.lightbox .ui {
    &_thumbnails {
        //  ...
    }

    &_bulletlist {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 32px;
        list-style-type: none;

        @if $lb_ui-bulletlist_position == 'fixed' {
            width: calc(100vw - #{$lb_padding} * 2 - 17px);
            position: fixed;
            left: $lb_padding;
            bottom: #{$lb_padding / 2 - 16px};
        }
        @else {
            position: absolute;
            right: 0;
            bottom: -48px;
        }

        li {
            flex-shrink: 0;
            flex-grow: 0;
            pointer-events: initial;
            width: $lb_ui-bulletlist_size;
            height: $lb_ui-bulletlist_size;
            background: $lb_ui-bulletlist_color;
            border-radius: 50%;
            margin-right: 12px;
            cursor:pointer;

            &.active {
                background: $lb_ui-bulletlist_color_active;
            }
            &:hover {
                background: $lb_ui-bulletlist_color_hover;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &_pagination {
        font-size: $lb_ui-pagination_font-size;
        font-weight: $lb_ui-pagination_font-weight;
        color: $lb_ui-pagination_color;
        line-height: 32px;

        @if $lb_ui-pagination_position == 'fixed' {
            position: fixed;
            right: $lb_padding;
            top: #{$lb_padding / 2 - 16px};
        } 
        @else {
            position: absolute;
            right: 0;
            top: -32px; 
        }
    }

    &_title {
        font-size: $lb_ui-title_font-size;
        font-weight: $lb_ui-title_font-weight;
        color: $lb_ui-title_color;
        line-height: 32px;

        @if $lb_ui-title_position == 'fixed' {
            position: fixed;
            left: $lb_padding;
            top: #{$lb_padding / 2 - 16px};
        } 
        @else {
            position: absolute;
            left: 0;
            top: -32px; 
        }
    }

    &_btn {
        display: block;
        width: 32px;
        height: 32px;
        font-size: $lb_ui-btn_font-size;
        font-weight: $lb_ui-btn_font-weight;
        pointer-events: initial;
        background: transparent;
        border: none;
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        color: $lb_ui-btn_color;
        cursor: pointer;
        font-family: $lb_ui-btn_font-family;

        &-prev {
            @if $lb_ui-btn-prev_position == 'fixed' {
                position: fixed;
                left: #{$lb_padding / 2 - 16px};
                top: calc(50% - 16px);
            } 
            @else {
                position: absolute;
                left: -48px;
                top: calc(50% - 16px); 
            }

            &::before {
                content: $lb_ui-btn-prev_content;
            }
        }

        &-next {
            @if $lb_ui-btn-next_position == 'fixed' {
                position: fixed;
                right: #{$lb_padding / 2 - 16px};
                top: calc(50% - 16px);
            } 
            @else {
                position: absolute;
                right: -48px;
                top: calc(50% - 16px); 
            }

            &::before {
                content: $lb_ui-btn-next_content;
            }
        }

        &-close {
            @if $lb_ui-btn-close_position == 'fixed' {
                position: fixed;
                right: #{$lb_padding / 2 - 16px};
                top: #{$lb_padding / 2 - 16px};
            }
            @else {
                position: absolute;
                right: 0;
                top: -48px;
            }

            &::before {
                content: $lb_ui-btn-close_content;
            }
        }

        &:hover {
            color: $lb_ui-btn_color_hover;
        }
    }

    &.hidden {
        display: none;
    }

    &.disabled {
        visibility: hidden;
        pointer-events: none;
    }
}
