$lightbox-bgcolor : rgba(0, 0, 0, 0.925) !default;
$lightbox-font-size : 16px !default;
$lightbox-font-family : Arial, sans-serif !default;

$lightbox-ui-close-position : 'fixed' !default;
$lightbox-ui-navigation-position : 'fixed' !default;