.lightbox .message {
    padding: 0 64px;
    text-align: center;

    &_loading {
        color: $lb_loading-message_color;
        font-size: $lb_loading-message_font-size;
        font-weight: $lb_loading-message_font-weight;
    }

    &_error {
        h4 {
            font-size: $lb_error-message-title_font-size;
            line-height: 2em;
            color: $lb_error-message-title_color;
            font-weight: $lb_error-message-title_font-weight;
            margin: 0;
        }

        p {
            font-size: $lb_error-message_font-size;
            line-height: 1.5em;
            color: $lb_error-message_color;
            font-weight: $lb_error-message_font-weight;
            margin: 0;
        }

        button {
            margin-top: 1.5em;
        }
    }
}