.lightbox {
    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #505050;

        &__inner {
            width: 0%;
            display: block;
            height: inherit;
            background: #ffffff;
            transition: width linear 0.25s;
        }

        &_element {
            .progress__inner {
                background: #4799B7;
            }
        }

        &_timer {
            .progress__inner {
                background: #E83338;
            }
        }
    }
}

.lightbox .ui {
    &_thumbnails {
        //  ...
    }

    &_progress {
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
    }

    &_bulletlist {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 32px;
        list-style-type: none;

        @if $lb_ui-bulletlist_position == 'fixed' {
            width: calc(100vw - #{$lb_horizontal-padding} * 2 - 17px);
            position: fixed;
            left: $lb_horizontal-padding;
            bottom: #{$lb_vertical-padding / 2 - 16px};
        }
        @else {
            position: absolute;
            right: 0;
            bottom: -32px;
        }

        li {
            flex-shrink: 0;
            flex-grow: 0;
            pointer-events: initial;
            width: $lb_ui-bulletlist_size;
            height: $lb_ui-bulletlist_size;
            background: $lb_ui-bulletlist_color;
            border-radius: 50%;
            margin-right: 12px;
            cursor:pointer;

            &.active {
                background: $lb_ui-bulletlist_color_active;
            }
            &:hover {
                background: $lb_ui-bulletlist_color_hover;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &_pagination {
        font-size: $lb_ui-pagination_font-size;
        font-weight: $lb_ui-pagination_font-weight;
        color: $lb_ui-pagination_color;
        line-height: 32px;

        @if $lb_ui-pagination_position == 'fixed' {
            position: fixed;
            left: $lb_horizontal-padding / 2;
            bottom: #{$lb_vertical-padding / 2 - 16px};
        } 
        @else {
            position: absolute;
            left: 0;
            bottom: -32px;
        }
    }

    &_title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 32px;
        font-size: $lb_ui-title_font-size;
        font-weight: $lb_ui-title_font-weight;
        color: $lb_ui-title_color;

        @if $lb_ui-title_position == 'fixed' {
            position: fixed;
            left: $lb_horizontal-padding / 2;
            top: #{$lb_vertical-padding / 2 - 16px};
        } 
        @else {
            position: absolute;
            left: 0;
            top: -32px;
        }
    }

    &_btn {
        display: block;
        width: 32px;
        height: 32px;
        font-size: 1em;
        font-weight: $lb_ui-btn_font-weight;
        pointer-events: initial;
        background: transparent;
        border: none;
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        color: $lb_ui-btn_color;
        cursor: pointer;
        font-family: $lb_ui-btn_font-family;

        &-prev {
            font-size: $lb_ui-btn-prev_font-size;

            @if $lb_ui-btn-prev_position == 'fixed' {
                position: fixed;
                left: #{$lb_horizontal-padding / 2 - 16px};
                top: calc(50% - 16px);
            } 
            @else {
                position: absolute;
                left: -48px;
                top: calc(50% - 16px); 
            }

            &::before {
                content: $lb_ui-btn-prev_content;
            }
        }

        &-next {
            font-size: $lb_ui-btn-next_font-size;

            @if $lb_ui-btn-next_position == 'fixed' {
                position: fixed;
                right: #{$lb_horizontal-padding / 2 - 16px};
                top: calc(50% - 16px);
            } 
            @else {
                position: absolute;
                right: -48px;
                top: calc(50% - 16px); 
            }

            &::before {
                content: $lb_ui-btn-next_content;
            }
        }

        &-close {
            order: $lb_ui-btn-close_order;
            font-size: $lb_ui-btn-close_font-size;

            &::before {
                content: $lb_ui-btn-close_content;
            }
        }

        &-fullscreen {
            order: $lb_ui-btn-fullscreen_order;
            font-size: $lb_ui-btn-fullscreen_font-size;
            
            &::before {
                content: $lb_ui-btn-fullscreen_content_off;
            }

            &.on {
                &::before {
                    content: $lb_ui-btn-fullscreen_content_on;
                }
            }
        }

        &-autoplay {
            order: $lb_ui-btn-autoplay_order;
            font-size: $lb_ui-btn-autoplay_font-size;
            
            &::before {
                content: $lb_ui-btn-autoplay_content_off;
            }

            &.on {
                &::before {
                    content: $lb_ui-btn-autoplay_content_on;
                }
            }
        }

        &:hover {
            color: $lb_ui-btn_color_hover;
        }
    }

    &_options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 32px;

        & > .ui {
            margin-left: 16px;
        }

        @if $lb_ui-options_position == 'fixed' {
            position: fixed;
            right: #{$lb_horizontal-padding / 2 - 16px};
            top: #{$lb_vertical-padding / 2 - 16px};
        }
        @else {
            position: absolute;
            right: 0;
            top: -32px;
        }
    }

    &.hidden {
        display: none;
    }

    &.disabled {
        visibility: hidden;
        pointer-events: none;
    }
}
