$lightbox-font-size : 16px;
$lightbox-font-family : Arial, sans-serif !default;

*[data-lightbox] {
    cursor: pointer;
}

.lightbox {
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    padding: 64px;
    background: rgba(0, 0, 0, 0.925);
    font-size: $lightbox-font-size;
    font-family: $lightbox-font-family;
    
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }

    &__container {
        position: relative;
    }

    &__ui {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &__element {
        display: none;
    }

    .element {
        &_image {
            margin: 0;
            overflow: hidden;
            border-radius: 2px;

            figcaption {
                display: block;
                text-align: center;
                font-size: 0.9em;
                line-height: 1.5em;
                margin-bottom: 0.75em;
                color: #fff;
            }

            img {
                margin: 0;
                display: block;
                max-width: calc(100vw - 64px * 2);
                max-height: calc(100vh - 64px * 2);
                object-fit: cover;
                object-position: center;
            }

            &.active {
                display: block;
            }
        }
    }

    .ui-thumbnails {
        pointer-events: initial;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        
        &__container {
            pointer-events: none;
            transform: translateY(32px);  
            opacity: 0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            transition: all ease .35s;

            .thumb {
                width: calc(100% / 6);
                height: 128px;
                flex-shrink: 0;
                display: block;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.95);

                img {
                    opacity: 1;
                    display: block; 
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
                
                &:hover {
                    img {
                        
                    }
                }
            }
        }

        &:hover .ui-thumbnails__container {
            opacity: 1;
            transform: translateY(0);
            transition: all ease .5s .15s;
            pointer-events: initial;
        }
    }

    .btn {
        background: transparent;
        border: none;
        appearance: none;
        outline: none;
        color: #dadada;
        opacity: 0.5;
        cursor: pointer;
        font-size: 1em;
        font-family: $lightbox-font-family;

        &:hover {
            opacity: 1;
        }
    }

    .message {
        padding: 0 32px;
        text-align: center;

        &_loading {
            color: #bdbdbd;
            font-size: 0.9em;
        }
    
        &_error {
            h4 {
                font-size: 1.05em;
                line-height: 2em;
                color: #f31c1c;
                font-weight: 600;
                margin: 0;
            }
            p {
                font-size: 0.9em;
                line-height: 1.5em;
                color: #bdbdbd;
                font-weight: 300;
                margin: 0;
            }
            button {
                margin-top: 1.5em;
            }
        }
    }
}
